@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --background: #483239;
  --text: #000;
  --input: #FDECEF;
  --searchBtn: #FDECEF;
}

.theme-light {
  --background: #483239;
  --text: #000;
  --input: #FDECEF;
  --searchBtn: #FDECEF;
}

.theme-dark {
  --background: black;
  --text: #fff;
  --input: #484848; 
  --searchBtn: #484848;
}

#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.title {
  font-size: 3em;
  font-family: 'Work Sans';
  font-weight: 900;
  letter-spacing: 1px;
  max-width: 400px;
}

.themeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: var(--background);
  margin-right: 10px;
}

.themeIcon{
  width: 30px;
}

.input,
.searchBtn {
  margin: 20px 10px 0px 0;
  padding: 10px;
  font-size: 18px;
  background-color: var(--background);
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 25px;
  font-family: 'Work Sans';
  font-weight: 300;
}

.searchBtn {
  background-color: var(--background);
  color: var(--text);
  margin-left: 0;
  font-weight: 400;
  padding: 10px 20px;
}

.mainBlocks{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}
